<div class="bill row align-center align-middle">
  <div class="bill-content column small-6">
    <h2>What do you think?</h2>
    {{model.title}}<br>
    {{model.description}}
  </div>
</div>

<div class="vote row align-center align-middle">
  <div class="column small-6">
    <ul class="vote-buttons">
      <li>
        <button id="vote-for" {{action 'voteFor' model}}>
          Yes
        </button>
      </li>

      <li>
        <button id="vote-against" {{action 'voteAgainst' model}}>
          No
        </button>
      </li>
    </ul>
  </div>
</div>

<h4>Votes</h4>
  Yes: <span id="votesFor">{{model.votesFor}}</span><br>
  No: <span id="votesAgainst">{{model.votesAgainst}}</span>
