<h2>What do you think?</h2>
{{model.title}}<br>
{{model.description}}

<h4>Votes</h4>
Yes: <span id="votesFor">{{model.votesFor}}</span><br>
No: <span id="votesAgainst">{{model.votesAgainst}}</span>

<ul>
  <li>
    <button id="vote-for" {{action 'voteFor' model}}>
      Yes
    </button>
  </li>

  <li>
    <button id="vote-against" {{action 'voteAgainst' model}}>
      No
    </button>
  </li>
</ul>
