<div class="card bill row align-center align-middle">
  <div class="card-content column small-8">
    <h2>What do you think?</h2>
    {{model.title}}<br>
    {{model.description}}
  </div>
</div>

<div class="vote row align-center align-middle">
  <div class="column small-6">
    <ul class="vote-buttons card-list">
      <li>
        <button id="vote-for" class="button success" {{action 'voteFor' model}}>
          Yes
        </button>
      </li>

      <li>
        <button id="vote-against" class="button alert" {{action 'voteAgainst' model}}>
          No
        </button>
      </li>
    </ul>
  </div>
</div>

<div class="card row align-center align-middle">
  <div class="card-content column small-8">
    <h2>Votes</h2>
    {{votes-component votesFor=model.votesFor votesAgainst=model.votesAgainst}}
  </div>
</div>
